.buttonNext{
    width: 20px;
    height: 20px;
    border: none;
    border-right: 3px solid;
    border-bottom: 3px solid;
    background-color: transparent;
    position: absolute;
    transform: rotate(-45deg);
    top: 50%;
    left: 97%;
    z-index: 1;
}

.buttonNext:hover {
    cursor: pointer;
    opacity: 0.7;
}

button:focus {
    outline: none; 
}