footer{
    background-color: #282828;
    color: white;
    font-family: var(--link-font-family);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: auto;
    padding: 10px;
}