.container-Slider{
    padding: 25px 75px;
    display: flex;
    justify-content: center;
}

.container__inner{
    max-width: 100%;
    height: 550px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.slider-content {
    min-width: 100%;
    transition: transform 0.8s ease;
    display: flex;
}

.slider__control {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.description {
    width: 50%;
    height: 100%;
    background-color: #dce5e2;
    transition: background-color 0.7s ease;  
    display: flex;
    padding: 55px;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.description h1 {
    font-family: 'Readex Pro';
    font-size: 55px;
    font-weight: 400;
    // position: absolute;
    // top: 50%;       
    // left: 50%;
    // transform: translate(-50%, -50%);
    // max-width: 600px;
    // padding: 24px;
    margin: 24px;
    width: 100%;
}

.picture {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.button-container{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 95%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: auto;
    min-height: 30px;
}

button {
    width: 200px;
    height: 4px;
    background-color: black;
    border: none;
    margin: 5px;
    transition: background-color 0.8s ease;
}

button:hover {
    cursor: pointer;
}

.button::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}

@media screen and (max-width: 950px) {
    .container-Slider{
        padding: 15px 45px;
    }

    .container__inner {
        height: 400px;
    }

    .description {
        padding: 35px;
    }

    .description h1 {
        font-size: 25px;
        max-width: 100%;
        width: 100%;
        margin: 15px;
    }

    button {
        width: 170px;
    }
}

@media screen  and (max-width: 768px) {
    .container-Slider{
        padding: 15px 45px;
    }

    .container__inner {
        height: 300px;
    }

    .description {
        padding: 35px;
    }

    .description h1 {
        font-size: 25px;
        max-width: 100%;
        width: 100%;
        margin: 15px;
    }

    button {
        width: 120px;
    }
}

@media screen and (max-width: 560px) {
    .container-Slider{
        padding: 15px 25px;
    }

    .container__inner {
        height: 300px;
    }

    .description h1 {
        font-size: 20px;
        max-width: 100%;
        width: 100%;
        margin: 20px;
    }

    button {
        width: 80px;
    }
}

@media screen and (max-width: 390px) {
    .container-Slider{
        padding: 15px 25px;
    }

    .container__inner {
        max-width: 329px;
        // width: 100%;
        height: 200px;
    }

    .description {
        padding: 15px;
    }

    .description h1 {
        font-size: 15px;
        max-width: 100%;
        width: 100%;
        margin: 15px;
    }

    .button-container{
        gap: 10px;
    }

    button {
        width: 70px;
        height: 3px;
    }
}



